@tailwind base;
@tailwind components;
@tailwind utilities;

.slim-scroll::-webkit-scrollbar {
  width: 3px;
  /* Width of the scrollbar */
  height: 5px;
}

.slim-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
}

.slim-scroll::-webkit-scrollbar-thumb {
  background-color: #1BB68A;
  /* Thumb color */
  border-radius: 1px;
  /* Rounded corners */
}

/* Optional: Hide scrollbar when inactive */
.slim-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Thumb color on hover */
}

@font-face {
  font-family: "Satoshi";
  src: url("/satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("/satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/satoshi/Satoshi-Medium.woff2") format("woff2"),
    url("/satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("/satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


.swiper {
  overflow: visible !important;
}